#load-more-button {
  background-color: #ffc107; /* Жълт фон */
  color: #fff; /* Бял текст */
  font-weight: bold;
  border-radius: 8px;
  padding: 10px 20px;
  transition: all 0.3s ease;
  border: none;
}

#load-more-button:hover {
  background-color: #e0a800; /* Потъмняващ ефект при задържане */
  transform: scale(1.05); /* Леко уголемяване */
}


  